<div class="row">
  <div class="col-md-3">

    <mat-card>
      <app-quote></app-quote>
    </mat-card>

    <mat-card>
      <app-form (submitForm)="submitForm($event)"></app-form>
      <div *ngIf="response">
        <h1>PLS CONFIRM</h1>
        <div *ngIf="response['singleData']">
          <!-- {{response['singleData'] | json}} -->
          <h4 mat-line>{{response['singleData']['title']}}</h4>
          <h4 mat-line>{{response['singleData']['scheduledStartDateTime'] | date}}</h4>
          <p matLine>From {{response['singleData']['scheduledStartDateTime'] | date:'shortTime'}} To
            {{response['singleData']['scheduledStartDateTime'] | date:'shortTime'}}</p>
        </div>
        <div *ngIf="response['recurringData']">
          <h4 mat-line>{{response['recurringData']['title']}}</h4>
          <p matLine>From {{response['recurringData']['scheduledStartDateTime'] | date:'shortTime'}} To
            {{response['recurringData']['scheduledStartDateTime'] | date:'shortTime'}}</p>
        </div>
        <div *ngIf="response['clashTask'] && response['clashTask'].length">
          <h1>CLASHES</h1>
          <!-- {{response['clashTask'] | json}} -->
          <div *ngFor="let clashTask of response['clashTask']">
            <h4 mat-line>{{clashTask['title']}}</h4>
            <p matLine>From {{clashTask['scheduledStartDateTime'] | date:'shortTime'}} To
              {{clashTask['scheduledStartDateTime'] | date:'shortTime'}}</p>
          </div>
        </div>
        <button (click)="confirmEvent()">CONFIRM</button>
      </div>
    </mat-card>

    <mat-card>
      <mat-list>
        <h3>Today's Focus</h3>
        <mat-list-item *ngFor="let task of todayTasks; last as last">
          <mat-icon mat-list-icon>today</mat-icon>
          <h4 mat-line>{{task['title']}}</h4>
          <!-- <p matLine>On {{task['scheduledStartDateTime'] | date:'mediumDate'}}</p> -->
          <p matLine>From {{task['scheduledStartDateTime'] | date:'shortTime'}} To {{task['scheduledStartDateTime'] |
            date:'shortTime'}}</p>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card>

  </div>
  <div class="col-md-9">
    <mat-card>
      <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
    </mat-card>

    <div class="container row justify-content-between">
      <mat-card class="col-md-3">
        <mat-list>
          <h3>Work</h3>
          <mat-list-item *ngFor="let item of workCard ; last as last">
            <mat-icon mat-list-icon (click)="delete('work', item.task)">remove_circle</mat-icon>
            <h4 mat-line>{{item.task}}</h4>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon (click)="update('work', workInput.value); workInput.value=''">add_circle</mat-icon>
            <h4 mat-line><input #workInput (keyup)="0" matInput placeholder="Add To Do"></h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card>

      <mat-card class="col-md-3">
        <mat-list>
          <h3>Side Projects</h3>
          <mat-list-item *ngFor="let item of sideProjectCard ; last as last">
            <mat-icon mat-list-icon (click)="delete('sideProject', item.task)">remove_circle</mat-icon>
            <h4 mat-line>{{item.task}}</h4>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon (click)="update('sideProject', sideProjectInput.value); sideProjectInput.value=''">add_circle</mat-icon>
            <h4 mat-line><input #sideProjectInput (keyup)="0" matInput placeholder="Add To Do"></h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card>

      <mat-card class="col-md-3">
        <mat-list>
          <h3>Personal</h3>
          <mat-list-item *ngFor="let item of personalCard ; last as last">
            <mat-icon mat-list-icon (click)="delete('personal', item.task)">remove_circle</mat-icon>
            <h4 mat-line>{{item.task}}</h4>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon (click)="update('personal', personalInput.value); personalInput.value=''">add_circle</mat-icon>
            <h4 mat-line><input #personalInput (keyup)="0" matInput placeholder="Add To Do"></h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card>
    </div>

  </div>
</div>

<!-- <button type="button" (click)="startListen()">CLICK ME TO LISTEN!</button>
<h3>YOU SAID...</h3>
<h2>{{words}}</h2> -->

<!-- <h2>{{words | async}}</h2> -->
<!-- <ul>
  <li *ngFor="let word of words">
    {{word}}
  </li>
</ul> -->

<!-- <ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>
<br>
<div [ngSwitch]="view">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<br><br><br>

<h3>
  Edit events
  <button class="btn btn-primary pull-right" (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Title</th>
      <th>Primary color</th>
      <th>Secondary color</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let event of events; let index = index">
      <td>
        <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()">
      </td>
      <td>
        <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()">
      </td>
      <td>
        <input type="color" [(ngModel)]="event.color.secondary" (change)="refresh.next()">
      </td> -->

<!-- <td>
        <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start" (ngModelChange)="refresh.next()"
          [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
          placeholder="Not set">
      </td>
      <td>
        <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end" (ngModelChange)="refresh.next()"
          [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
          placeholder="Not set">
      </td> -->

<!-- <td>
        <button class="btn btn-danger" (click)="events.splice(index, 1); refresh.next()">
          Delete
        </button>
      </td>
    </tr>
  </tbody>

</table> -->